<!DOCTYPE html>
<html>
  <head>
    <title>Lead</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <h1>Lead</h1>
    
    <p><%= lead.email %></p>

    <a href="/lead/<%= lead.id %>/edit">Edit</a>
 
    <a href="/leads">Back</a>
  </body>
</html>
